%%html
<style>
    @media print { 
        * {
             box-sizing: border-box;
          }
        .row {
             display: flex;
         }
       /* Create two equal columns that sits next to each other */
       .column {
          flex: 50%;
          padding: 10px;
  
        }
        
        div.input {
          display: none;
          padding: 0;
        }
        div.output_prompt {
          display: none;
          padding: 0;
        }
        div.text_cell_render {
          padding: 1pt;
        }
        div#notebook p,
        div#notebook,
        div#notebook li,
        p {
          font-size: 10pt;
          line-height: 115%;
          margin: 0;
        }
        .rendered_html h1,
        .rendered_html h1:first-child {
          font-size: 10pt;
          margin: 3pt 0;
        }
       .rendered_html h2,
       .rendered_html h2:first-child {
          font-size: 10pt;
          margin: 3pt 0;
       }
       .rendered_html h3,
       .rendered_html h3:first-child {
         font-size: 10pt;
         margin: 3pt 0;
       }
       div.output_subarea {
         padding: 0;
       }
       div.input_prompt{
         display: none;
         padding: 0;
      }
}

<h1><center>Tutorial sheet 1</center></h1> 

This set of exercises follows on from the topics discussed in the ‘Python Introduction Part 1’ notes and lectures. 

They exercises cover some of the fundamental aspects of programming. The easier exercises cover mathematical and Boolean operations and strings. These aspects are similar to other languages, e.g. MATLAB, so you may already be familiar with them.

The harder exercises focusing on using more advanced data structures in Python that may or may not be in other languages, for example, lists and arrays.


You can complete the following exerices in Pycharm, a python terminal, or in a script, if you desire. 

<br>

<br>

---

**NOTE**: For any function you haven’t met before, you can use ? to find out information, e.g. ```print?``` You will need to hit q to exit from the help. 

| | |
|-|-|
|You can also find all the documentation for ```numpy``` on their website [https://numpy.org](https://numpy.org). | <img src="https://user-images.githubusercontent.com/50221806/86498222-c4c12800-bd39-11ea-9709-160ad4ba63e1.png" width=200 float="right">|




---

You will need to ```import numpy as np``` to complete the following exercise. To run a cell, click on it and use ```Shift+Enter```.

In [ ]:
# RUN THIS CELL FIRST
import numpy as np

## Q1 Mathematical operators

In the following exercises you will have to fill in the blanks. Where ever you see ```....``` you will need to replace these with the correct code. 

**a)** Assign the product of 7 and 3 to the variable a.

In [ ]:
.... = 7 .... 3
print(a)

<br>

**b)** Print the type of a.

In [ ]:
print(....(a))

<br>

**c)** Calculate the division of 7 and 3, assign this to the variable b. Print b and its type.

In [ ]:
b = 7....3
print(....)
print(....(b))

<br>

**d)** Calculate the **integer** division of 7 and 3, assign this to the variable c. Print c and its type.

In [ ]:
.... .... 7....3
print(....)
print(....(c))

<br>

**e)**	Apply the cosine operator to the value 2 and then apply the inverse cosine to the answer. Print the result.

In [ ]:
d = np.....(2)
e = np.....()
print(e)

<br>

**f)**	Apply the cosine operator to the value 4 and then apply the inverse cosine to the answer. How does this differ to what happened in e) and why?

In [ ]:
d = np.....(4)
e = np.....()
print(e)

<br>

**g)**	Print the square of 5.

In [ ]:
print(5....2)

<br>

**h)**	Find the remainder of 18 divided by 4 using the modulo operator.

In [ ]:
remainder = 18 .... ....
print(remainder)

<br>

**i)**	Here we are going to calculate the interest earned on your savings. 

i) Create a variable called ```savings``` and assign it a value of a 100. 

ii) Next we'll calculate the amount earnt after 7 years if the interest rate is 2%. Assign each number to a variable.

iii) Complete the final calculation for the profit by inserting the correct operators

In [ ]:
.... = ....

years = ....
interest_rate = ....

profit = savings ....(1 .... interest_rate) .... years

print('Profit = {}'.format(profit))

print('Correct answer is {0:1.2f} (rounded to 2 decimal places)'.format(114.868566764928))

<br>

## Q2	Logic and Relation Operators

Using the logical operators, find the Boolean values of the following:

**a)**	Whether 9 is equal to 3.

In [ ]:
print(9 .... 3)

<br>

**b)**	Whether 9 is equal to 9.

In [ ]:
print(9 .... 9)

<br>

**c)**	Whether 9 is not equal to 3.

In [ ]:
print(9 .... 3)

<br>

**d)**	Whether 9 is not equal to 9.

In [ ]:
print(9 .... 9)

<br>

**e)**	Whether 9 is greater than 3

In [ ]:
print(9 .... 3)

<br>

**f)**	Whether 9 is greater than 9.

In [ ]:
print(9 .... 9)

<br>

**g)**	Whether 9 is greater than 3 and less than 13.

In [ ]:
print(9 .... 3 .... 9 .... 13)

<br>

**h)**	Whether 9 is greater than 3 or less than 7.

In [ ]:
print(9 .... 3 .... 9 .... 7)

<br>

## Q3 Strings

The following exercises focus on operations with strings.

**a)**	(i) Assign the string ```'hello’``` to a variable called ```greeting``` and then your name to a variable called ```name```. 

(ii) Combine the two strings with the ```+``` operator and print the result.

In [ ]:
.... = 'hello'
name = ....

print(.... .... ....)

<br>

**b)**	Create another string that says ```‘My age is ‘``` , and a variable ```age``` and assign it your age as a numerical values (i.e. without string quotation). Try to combine the variables - you should see an error message.

In [ ]:
phrase = ....
age = ....

print(phrase + age)

<br>

**c)**	Using the function str(), convert the age variable to a string and try combining both again.

In [ ]:
phrase = ....
age = ....

print(phrase + ...(age))

<br>

**d)**	You can also use the ```format``` method for strings to insert variables (of any type) into strings. Re-do exercise c) with the format method.

In [ ]:
age = ....

phrase = 'My age is {}'.format(....)

## Q4 Lists

In the following exercise we will use and manipulate lists to look at the masses to stars. Remember, lists are defined by square brackets, e.g. ```a_list = [1, 2, 3]```

The following table shows 5 of the most massive stars known (mass given as solar masses): 

| STAR	| MASS ($M_\odot$) |
| --- | --- |
| R136A1 |	315 |
| R136C	| 230 |
|BAT99-98 |	226 |
| R136A2	| 195 |
| MELNIC-42 |	189 |


**a)**	Assign each of the following stellar masses to variables named after the stars. Using these variables, create a list of the star’s masses from largest to smallest.

In [ ]:
R136A1 = ....
.... = 230 
BAT99_98 = 226 
R136A2 = 195 
.... = 189

star_mass = ....

print(star_mass)

<br>

**b)**	When we printed the above list to screen, it is not very useful as it only contains masses. How do we know which star has which mass? 

Create a list of lists, with each sub-list containing the name and mass of the star.

In [ ]:
star_mass = [ ['R136A1', R136A1],
              [.... , ....],
              [.... , ....],
              [.... , ....],
              [.... , ....]
             ]

<br>

**c)** i) Print out the second element of list. You should get back [R136c, 230].
 
ii) Print out the last element of the list using negative indices.

In [ ]:
print(star_mass[....])
print(star_mass[....])

<br>

**d)** i)	Use list slicing to create a new list of the 3 most massive stars.
ii)	From the list, print the mass of Melnic-42 only.

In [ ]:
new_star_list = star_list[....]

....(new_star_list[....,....])

<br>

**e)** i) Add the details of HD15558A – 152 $M_\odot$, to the original list using the ```append``` method. 
ii) Delete the value of R136a1 from the list using the ```del()``` function.
iii) Print the new list.

In [ ]:
star_mass.....([...., ....])

....(star_mass[....])

....(....)

<br>

## Q5 Arrays 

The following exercises will look at creating and manipulating ```numpy``` arrays. These arrays will be one of the most suitable objects to use when handling numerical data in python.


The following table gives the details of some stars to be used in the following exercises.

|Class | Radius ($R_\odot$) | Mass ($M_\odot$) | Luminosity ($L_\odot$) | Temp ($K$) | Name |
| --- | --- | --- | --- |--- | --- |
| O6| 18 | 40  | 500,000| 38,000 | Theta1 Orionis C|
| B0| 7.4| 18  | 20,000	| 30,000 | Phi1 Orionis|
| B5| 3.8| 6.5 | 800 | 16,400 |	Pi Andromedae A|
| A0| 2.5| 3.2 | 80 | 10,800 | Alpha Coronae Borealis A|
| A5| 1.7| 2.1 | 20 | 8,620	| Beta Pictoris|
| F0| 1.3| 1.7 | 6 | 7,240 | Gamma Virginis|
| F5| 1.2| 1.3 | 2.5 | 6,540 | Eta Arietis|

<br>

**a)**	Create a list that contains the numbers radius of the stars, and then use the numpy.array function to make this into a numpy array. Print out the type of the variable to check it is a numpy array.

In [ ]:
rad_list = [....]

star_radius = np.array(....)

print(....(star_radius))

<br>

**b)**	Create another array that contains the mass of the stars.

In [ ]:
stars_mass = np.array(....)

<br>

**c)**	Create a new array that uses the previous radius array to calculate the volume of each star (assuming sphericity). Print out the results.

Hint: the value of pi is defined within numpy.

In [ ]:
star_volume = (..../....)*....**....

<br>

**d)**	Create a new array that contains the calculation of each star’s density, using the volume and mass arrays. Print out the results.

In [ ]:
star_density = ....

<br>

**e)**	Find the maximum, minimum and mean values of density using either the array methods or the numpy functions.

In [ ]:
max_density = star_density.....()

min_density = .....min()

mean_density = star_density....

print(max_density, min_density, mean_density)

<br>

**f)** Create a Boolean numpy array that contains the elements of ```True``` if the star’s density is greater than the mean value and ```False``` otherwise (you will have to use relational operators). Print out the array.

In [ ]:
index = star_density .... mean_density

print()

<br>

**g)**	Use the Boolean numpy array to print the values of the star’s mass whose density is greater than the mean.

In [ ]:
print(star_mass[....])

<br>

**h)** Print out the mass value of the star at index 3. Then print out the mass value of the stars up to and including index 5.

In [ ]:
print(....)
print(star_mass[....])

## Q6	Arrays Part II 

a.	Create an array of zeros that contains 20 elements. Print its shape and size using the methods of the same name.

Hint: look the zeros function in ```numpy```.

In [ ]:
array = np.....(....)

print(array....., array....)

<br>

**b)**	Create an array that contains elements from 0 to 19 in increasing order (hint: use the numpy.arange function).

In [ ]:
array = np.....(....)

<br>

**c)**	Reshape this array into a 2d array that is 4 by 5. Print its shape and size.

*Note: we are using the copy method here to create a deep copy of the array. If we didn't do this, then the new array ```other_array``` is a 'view' of ```array```. Hence, you make changes to either array, it will automatically make the same change in the other array. Using ```copy()``` makes a new copy and the arrays are independent of each other.*

In [ ]:
other_array = array.....(....).copy()

<br>

**d)**	Print the value at the second column, third row.

In [ ]:
print(other_array[....])

<br>

**e)**	Create an array as you did in part b) and now make it a 5 by 4 array. Try adding this to the array created in part c). What happens?

In [ ]:
array2 = np.arange(....).reshape()

other_array + ....

<br>

**f)**	Create a copy of the array (a unique copy) from part c. Multiply the values by 2. Divide the previous array from part c) by this new array and print the results.

In [ ]:
other_array2 = other_array.....()

....

print(....)


## Q7 Array concatenation

The following questions are without the prompts. To complete them you will have read about concatenation in the notes or documentation.

**a)**	Create two arrays of length 10, called a & b. The arrays should contain floating point numbers.

Note: you can set the type of the array by adding a ```dtype``` keyword to the call.

<br>

**b)** Combine the two arrays to make a 20 by 1 array.

<br>

**c)**	Combine them to make one array of dimension 10 by 2.

<br>

**d)**	Combine this last array with itself to make an array of dimension 10 by 2 by 2.

## Q8 Array Manipulation

The following questions require the use of the functions you have not yet met. Check out the documentation to find out how to use them.

**a) Create an array of 1000 elements using ```np.random.randn```. 

Use the relational operators (or the ```np.where``` function) to find out: 
- (i)	How many elements are greater than 0. 
- (ii)	How many elements are less than 0. 
- (iii)	How many elements lie between -1 and 1. Is this number familiar?
- (iv)	What is the results when you look for numbers greater than 100?

<br>

**b)**	Create an ordered array of length 40.
- (i)	Find the location of the even numbers using modulo function.
- (ii)	Find the location of the odd numbers.
- (iii)	Which elements have a factor of 3?
- (iv)	Which elements have a factor of 4?