<center><h1>Tutorial sheet 2</h1> </center>


This set of exercises follows on from the topics discussed in the ‘Python Introduction Part 2’, and focus on the different visualisations we encountered with ```matplotlib```. 



You can complete the following exercises in Pycharm, a python terminal, or in a script, if you desire. I would create a script for each exercise. At the start of each script you will need to ```import matplotlib.pyplot``` and ```numpy```. 

<br>

<br>

---

**NOTE**: For any function you haven’t met before, you can use ? to find out information, e.g. ```print?``` You will need to hit q to exit from the help. 

| | |
|-|-|
|You can also find all the documentation for ```numpy``` on their website [https://numpy.org](https://numpy.org). | <img src="https://user-images.githubusercontent.com/50221806/86498222-c4c12800-bd39-11ea-9709-160ad4ba63e1.png" width=200 float="right">|
|You can also find all the documentation for ```matplotlib``` on their website [https://matplotlib.org](https://matplotlib.org). | <img src="https://matplotlib.org/stable/_static/logo2_compressed.svg" width=300 float="right">|


---


For each of these exercises you can also play around with the matplotlib themes and also the style of the plot.

<br>

<br>

**General Instructions**

In the following exercises you will have to fill in the blanks. Where ever you see ```....``` you will need to replace these with the correct code. 

<br>

In [ ]:
# Complete the following imports and run the cell.
import numpy as ....
import matplotlib..... as plt

# this line ensures that the plots appear within the note book
%matplotlib inline

## Line plots
We will be working the following table of star data:


| Class | Radius ($R_\odot$) |	Mass ($M_\odot$) |	Luminosity ($L_\odot$) | Temp ($K$) | Name |
|-|-|-|-|-|-|
|O6 | 18 | 40 | 500,000 | 38,000 | Theta1 Orionis C	| 
|B0	| 7.4 | 18 | 20,000	| 30,000 | Phi1 Orionis	| 	| 
|B5	| 3.8 | 6.5	| 800 | 16,400	| Pi Andromedae A	| 
|A0	| 2.5 | 3.2	| 80 | 10,800 | Alpha Coronae Borealis A	| 
|A5	| 1.7 | 2.1	| 20 | 8,620 | Beta Pictoris	| 
|F0	| 1.3 | 1.7	| 6	 | 7,240 | Gamma Virginis	| 
|F5	| 1.2 | 1.3	| 2.5 | 6,540 | Eta Arietis	| 


<br>

**a)**	Create two separate numpy arrays for mass and luminosity. Make a line plot of mass versus luminosity (if you are doing this exercise from the terminal or a script you will need to use plt.show() to display the figure).

In [ ]:
mass_list = [40,....,....,....,....,....,....]
mass = np.array()

# you don't have to pre-specify a list like in the above example
# you can just write out the list directly in the array function
# Note the  [...] are still required.
luminosity = np....([5e5, 2e4, 8e2, 80, 20, 6, 2.5])

In [ ]:
plt.plot(...., ....)

<br>

**b)**	Add labels to the axis.

In [ ]:
plt.plot(...., ....)

plt.xtitle(r'.... ($M_\odot$)')
plt.....(r'Luminosity ($L_\odot$)')

<br>

**c)**	Add a title to the plot.

In [ ]:
plt.plot(...., ....)

plt.....(r'Mass ($M_\odot$)') # x title
plt.....(r'Luminosity ($L_\odot$)')  # y title
plt.....('....') # main title

<br>

**d)**	Make the y-axis logarithmic using plt.yscale.

In [ ]:
plt.plot(...., ....)

plt.....(r'Mass ($M_\odot$)') # x title
plt.....(r'Luminosity ($L_\odot$)')  # y title
plt.....('....') # main title

plt.....(....) # change y scale

<br>

**e)**	Change the style and colour of the line to something of your choosing.

In [ ]:
plt.plot(...., ...., color='....', style='....')

plt.....(r'Mass ($M_\odot$)') # x title
plt.....(r'Luminosity ($L_\odot$)')  # y title
plt.....('....') # main title

plt.....(....) # change y scale

Save the figure.

In [ ]:
# here you just need to enter a path to a directory and a name for the plot.
plt.Save('..../name_of_plot.png')

<br>

**f)**	Create a new array for star temperature. Create a multi-panel plot that contains your first plot, and a fully labelled plot of mass vs temperature.

In [ ]:
temperature = np.....([....])

In [ ]:
plt.figure()

plt.subplot(1, 2, ....)
plt.plot(...., ...., color='....', style='....')

plt.xtitle(r'Mass ($M_\odot$)')
plt.ytitle(r'Luminosity ($L_\odot$)')
plt.title('....')

plt.yscale(....)


# add another plot
plt.subplot(1, ...., ....)

plt.plot(...., ....)
plt.xtitle(....)
plt.ytitle(....)
plt.title(....)


----

For the following exercises we are going to use a dataset from the Sloan Sky Digital Survey (SDSS), which has taken observations of 10,000 objects in space. 

I obtained the data from 
https://www.kaggle.com/lucidlenn/sloan-digital-sky-survey/downloads/sloan-digital-sky-survey.zip/2 and the information on the Kaggle website contains further information about the dataset. Or see here: http://www.sdss3.org/dr9/imaging/imaging_basics.php


The data we are using can be obtained by running the following code:

In [2]:
# pandas is a package for working with tabular data
import pandas as pd

url = 'https://docs.google.com/spreadsheets/d/1xc1YpcP9sHKnV3l9tpkc156-IEjms6D5Xflb9Yw9JiU/export?format=csv&gid=1442705777'

# read data into a pandas data frame
data = pd.read_csv(url)

# show the first few rows of the data frame
data.head()

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
0,1.240000e+18,183.531326,0.089693,19.47406,17.04240,15.94699,15.50342,15.22531,752,301,4,267,3.720000e+18,STAR,-0.000009,3306,54922,491
1,1.240000e+18,183.598370,0.135285,18.66280,17.21449,16.67637,16.48922,16.39150,752,301,4,267,3.640000e+17,STAR,-0.000055,323,51615,541
2,1.240000e+18,183.680207,0.126185,19.38298,18.19169,17.47428,17.08732,16.80125,752,301,4,268,3.230000e+17,GALAXY,0.123111,287,52023,513
3,1.240000e+18,183.870529,0.049911,17.76536,16.60272,16.16116,15.98233,15.90438,752,301,4,269,3.720000e+18,STAR,-0.000111,3306,54922,510
4,1.240000e+18,183.883288,0.102557,17.55025,16.26342,16.43869,16.55492,16.61326,752,301,4,269,3.720000e+18,STAR,0.000590,3306,54922,512

<br>

The SDSS basically takes images across the sky in 5 filter bands u, g, r, i, z (each of these filters isolates some part of the electromagnetic spectrum). We will look at the relationship between the magnitudes of objects in the u and g filter band-passes.

Run the following lines of code (or add to your script):

In [ ]:
# extracts data from data frame and returns as ndarray
u_mag = data['u'].values
g_mag = data['g'].values
objects = data['class'].values

## Scatter plots

The following questions look at creating scatter plots

<br>

**a)**	Create a scatter plot of u magnitudes vs g magnitudes.

In [ ]:
plt.scatter(...., ....)

<br>

**b)**	Label the plot.

In [ ]:
plt.....(u_mag, ....)

plt.xtitle(....)
plt.....(....) # y title

<br>

**c)**	The given magnitudes are from objects made up of stars, galaxies, and QSO’s. Using relational operators, create new arrays of magnitudes for stars, and new arrays for galaxies. Create a single scatter plot showing the two different data sets.

In [ ]:
# find locations in arrays
star_index = objects .... 'STAR'
galaxy_index = objects .... ....

# create new arrays
u_mag_star = u_mag[star_index]
g_mag_star = ....

u_mag_galaxy = ....
g_mag_galaxy = ....

In [ ]:
plt.scatter(...., ...., alpha=0.5, label='Stars')
plt.scatter(...., ...., alpha=0.5, label ='Galaxy')

<br>

**d)**	Add labels and a legend to the scatter plot.

In [ ]:
plt.scatter(...., ...., alpha=0.5, label='Stars')
plt.scatter(...., ...., alpha=0.5, label ='Galaxy')

plt.....(....) # x title
plt.....(....) # y title

# plot legend
plt.....()

<br>

**e)**	Is there a difference between stars and galaxies?


## Histograms

The following questions continue to work with the data from the Sloan Digital Sky Survey.

<br>

**a)**	Plot a histogram of the u magnitudes for all objects. Label the plot appropriately.

In [ ]:
plt.....(....)

plt.xtitle(....)
plt.ytitle(....)

<br>

**b)**	Change the bins size to 20, then to 40. How does this influence the shape of the histogram?

In [ ]:
plt.histogram(...., bins=....)

<br>

**c)**	Let’s compare the magnitudes of different deep space objects by plotting multi-panel histograms, one for each of stars, galaxies, and QSO’s. 

For multi-panel plot you should write your own code. You can use the code given in 2.1f as template.

In [ ]:
# select QSO objects
QSO_index = objects == 'QSO'

u_mag_qso = u_mag[QSO_index]
g_mag_qso = ....

In [ ]:
# Plot multi-panel histograms

<br>

**d)**	Instead of plotting them side by side create a single plot with each histogram over-plotted. You may have to change from counts to density to properly compare each distribution (look at the docs for density keyword). You will also have to play with the opacity to show each distribution clearly.